*{
    box-sizing: border-box;
    margin: 0 auto;
}

/* 조건별 차 고르는 메뉴 박스 */
.mainpage_menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 추천차량 글꼴 */
.recommend_car_title_text{
    font-size: 30px;
    margin: 30px;
    font-weight: bold;
    color: #0D6FFC;
}

/* 추천차량 4개 박스를 감싸는 박스 */
.show_recommend_car_box{
    display: flex;
    
}

/* 추천 차량 4개 박스 */
.show_recommend_car{
    margin: 20px;
    width: 275px;
    height: 280px;
    border-radius: 3%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* 추천 차량 4개 박스의 높이, 너비 */
.recommend_car_image1, .recommend_car_image2, .recommend_car_image3, .recommend_car_image4{
    width: 200px;
    height: 40%;
    margin: 0 auto;
}

/* 추천 1 차량 */
.recommend_car_image1{
    width: 200px;
    height: 120px;
    background-image: url(../images/추천차량사진/추천차량1.png);
    background-size: 100%;
    position: absolute;
    transform: scale(1.1);
    top: 0;
}

/* 추천 2 차량 */
.recommend_car_image2{
    background-image: url(../images/추천차량사진/추천차량2.png);
    width: 200px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.1);
    position: absolute;
    top: 20px;
}

/* 추천 3 차량 */
.recommend_car_image3{
    background-image: url(../images/추천차량사진/추천차량3.png);
    height: 95px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.1);
    position: absolute;
    top: 20px;
}

/* 추천 4 차량 */
.recommend_car_image4{
    background-image: url(../images/추천차량사진/추천차량4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
    transform: scale(1.3);
    position: absolute;
    top: 0;
}

/* 가성비 차량 글꼴 */
.cheap_car_title{
    font-size: 30px;
    margin: 30px;
    font-weight: bold;
    color: #0D6FFC;
}

/* 가성비 차량 4개 박스를 감싸는 박스 */
.show_cheap_car_box{
    display: flex;
}

/* 가성비 차량 4개 박스 */
.show_cheap_car{
    margin: 20px;
    width: 275px;
    height: 280px;
    border-radius: 3%;
    border: 1px solid gray;
    display: flex;
    position: relative;
    cursor: pointer;
}

/* 가성비 차량 4개 박스의 높이, 너비 */
.cheap_car_image1, .cheap_car_image2, .cheap_car_image3, .cheap_car_image4{
    width: 200px;
    height: 40%;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

/* 가성비 1 차량 */
.cheap_car_image1{
    background-image: url(../images/가성비차량사진/가성비차량1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.4);
    left: 30px;
    top: 10px;
}

/* 가성비 2 차량 */
.cheap_car_image2{
    background-image: url(../images/가성비차량사진/가성비차량2.png);
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.3);
    left: 30px;

}

/* 가성비 3 차량 */
.cheap_car_image3{
    background-image: url(../images/가성비차량사진/가성비차량3.png);
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 30px;
    top: -5px;
}

/* 가성비 4 차량 */
.cheap_car_image4{
    background-image: url(../images/가성비차량사진/가성비차량4.png);
    background-size: 100%;
    transform: scale(1.3);
    background-repeat: no-repeat;
    left: 30px;
}

/* Y2K 차량 글꼴 */
.old_car_title{
    font-size: 30px;
    margin: 30px;
    font-weight: bold;
    color: #0D6FFC;
}

/* Y2K 차량 4개 박스를 감싸는 박스 */
.show_old_car_box{
    display: flex;
}

/* Y2K 차량 4개 박스 */
.show_old_car{
    margin: 20px;
    width: 275px;
    height: 280px;
    border-radius: 3%;
    border: 1px solid gray;
    display: flex;
    position: relative;
    cursor: pointer;
}

/* Y2K 박스 4개의 높이, 너비 */
.old_car_image1, .old_car_image2, .old_car_image3, .old_car_image4{
    width: 200px;
    height: 40%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 30px;
}

/* Y2K 1 차량 */
.old_car_image1{
    background-image: url(../images/Y2K차량사진/Y2K차량1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 130px;
    transform: scale(1.2);
}

/* Y2K 2 차량 */
.old_car_image2{
    background-image: url(../images/Y2K차량사진/Y2K차량2.png);
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.1);
    height: 125px;
}

/* Y2K 3 차량 */
.old_car_image3{
    background-image: url(../images/Y2K차량사진/Y2K차량3.png);
    height: 95px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 35px;
    transform: scale(1.2);
}

/* Y2K 4 차량 */
.old_car_image4{
    background-image: url(../images/Y2K차량사진/Y2K차량4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 35px;
    top: 10px;
    height: 120px;
}

/* 인기 차량 글꼴 */
.popular_car_title{
    font-size: 30px;
    margin: 30px;
    color: #0D6FFC;
    font-weight: bold;
}

/* 인기 차량 4개를 감싸는 박스 */
.show_popular_car_box{
    display: flex;
}

/* 인기 차량 4개 박스 */
.show_popular_car{
    margin: 20px;
    width: 275px;
    height: 280px;
    border-radius: 3%;
    border: 1px solid gray;
    display: flex;
    position: relative;
    cursor: pointer;
}

/* 인기 차량 4개 박스의 높이, 너비 */
.popular_car_image1, .popular_car_image2, .popular_car_image3, .popular_car_image4{
    width: 200px;
    height: 40%;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

/* 인기 1 차량 */
.popular_car_image1{
    background-image: url(../images/인기차량사진/인기차량1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 130px;
    top: -25px;
    left: 30px;
    transform: scale(1.3);
}

/* 인기 2 차량 */
.popular_car_image2{
    background-image: url(../images/인기차량사진/인기차량2.png);
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.2);
    left: 30px;
    top: 10px;
}

/* 인기 3 차량 */
.popular_car_image3{
    background-image: url(../images/인기차량사진/인기차량3.png);
    height: 140px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: -20px;
    left: 30px;
    transform: scale(1.2);
}

/* 인기 4 차량 */
.popular_car_image4{
    background-image: url(../images/인기차량사진/인기차량4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scale(1.2);
    height: 125px;
    left: 30px;
    top: 5px;
}