* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	box-shadow: 3px 4px 8px lightgray;
}

/* 예약페이지 메인 컨테이너 */
.rv-container {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #eeeeee;
	position: relative;
	z-index: 100;
}

.rv-locationAndDateBox-sticky {
	background-color: #eeeeee;
	height: 215px;
}

/* 지역&날짜 박스 */
.rv-locationAndDateBox {
	padding-top: 100px;
	width: 100%;
	height: 170px;
	display: flex;
	position: sticky;
	top: 0px;
	z-index: 1;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	box-shadow: 3px 4px 8px lightgray;
}

/* 지역 박스 */
.rv-locationAndDateBox-location {
	margin-left: 6%;
	width: 45%;
	height: 45px;
	border-radius: 5px;
	background-color: #F2F3F3;
	cursor: pointer;
}

/* 날짜 박스 */
.rv-locationAndDateBox-date {
	width: 28%;
	height: 45px;
	border-radius: 5px;
	background-color: #F3F3F3;
	cursor: pointer;
}

/* 차량검색 버튼 */
.rv-locationAndDateBox-selectCarBtn {
	margin-right: 6%;
	width: 12%;
	height: 45px;
	border-radius: 5px;
	font-size: 1.1rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #0D6FFC;
	cursor: pointer;
}

/* 자동차 정보 박스 */
.rv-carInfoBox-container {
	margin-left: 5%;
	width: 55%;
	height: 660px;
	display: flex;
	flex-direction: column;
}

/* 자동차 정보 박스 - top */
.rv-carInfoBox-top {
	width: 100%;
	height: 60px;
	padding: 10px;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-self: center;
	align-items: center;
	color: #1e1e1e;
}

/* 자동차 정보 박스 - main 내용
알게된 사실 : 여러개의 box가 있는 스크롤에선
부모요소에 flex 와 flex-direction: column를 사용하면 적용이 안된다!*/
.rv-carInfoBox-main {
	width: 100%;
	max-height: 100%;
	padding: 10px;
	overflow: scroll;
}

.rv-carInfoBox-Box {
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
}

.rv-carInfoBox-Box-imgBox {
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rv-carInfoBox-Box-carInfoBox {
	width: 50%;
	padding: 10px;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	border-left: 1px solid #999999;
}

.car_image {
	width: 100%;
}

.rv-carInfoBox-Box-carName {
	width: 100%;
	height: 20%;
	display: flex;
	font-size: 1.7rem;
	font-weight: bold;
	color: #27374D;
	margin-bottom: 5px;
}

.rv-carInfoBox-Box-carYear {
	width: 100%;
	height: 20%;
}

.rv-carInfoBox-Box-carYear-textBox {
	width: 44px;
	height: 25px;
	border-radius: 5px;
	background-color: #c7c7c7;
	font-size: 1.15rem;
	font-weight: bold;
	color: #444444;
}

.rv-carInfoBox-Box-sumRentAndInsurancePrice {
	width: 100%;
	height: 20%;
	border: 1px solid black;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.rv-carInfoBox-Box-insuranceText{
	width: 30%;
	border: 1px solid black;
}

.rv-carInfoBox-Box-sumRentAndInsurancePrice-text{
	width: 50%;
	border: 1px solid black;
}

.rv-carInfoBox-Box-sumRentAndInsurancePrice2 {
	width: 100%;
	height: 20%;
	border: 1px solid black;
}

.rv-carInfoBox-Box-sumRentAndInsurancePrice3 {
	width: 100%;
	height: 20%;
	border: 1px solid black;
}

/* 자동차 정보 박스 스크롤바 없애기 */
.rv-carInfoBox-main::-webkit-scrollbar {
	display: none;
}

/* 필터 박스 */
.rv-filterBox {
	margin-right: 5%;
	width: 30%;
	height: 660px;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

/* 필터 메인 박스 */
.rv-filterBox-Main {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: column;
	color: #999999;
	z-index: 500;
}

.rv-filterBox-Main-1 {
	width: 100%;
	height: 130px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3rem;
}

.rv-filterBox-Main-1-data {
	width: 100%;
	height: 80px;
	font-weight: lighter;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rv-filterBox-Main-2 {
	width: 100%;
	height: 130px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3rem;
}

.rv-filterBox-Main-2-data {
	width: 100%;
	height: 80px;
	font-weight: lighter;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 자동차 모델 selcet css */
.hide {
	display: none;
}

.show {
	display: block;
}

/* 셀렉트 영역 스타일 */
.select {
	padding: 5px 10px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #0E70FC;
	background-color: white;
	background-image:
		url("https://img.icons8.com/material-rounded/24/000000/expand-arrow.png");
	background-repeat: no-repeat;
	background-position: 96% center;
	cursor: pointer;
}

ul {
	position: relatice;
}

li {
	z-index: 10;
}

/* 옵션 영역 스타일 */
.select ul {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	border: 1px solid #0E70FC;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

.select ul li {
	position: relative;
	padding: 10px;
	list-style-type: none;
}

.select ul li:hover {
	background-color: #0E70FC;
}

.rv-filterBox-Main-2-data .select {
	position: relative;
	z-index: 2000;
}

.rv-filterBox-Main-2-data .hide {
	z-index: 1000;
}

.rv-filterBox-Main-3 {
	width: 100%;
	height: 130px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3rem;
}

.rv-filterBox-Main-3-data {
	width: 100%;
	height: 80px;
	font-weight: lighter;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.rv-filterBox-Main-4 {
	width: 100%;
	height: 140px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3rem;
}

.rv-filterBox-Main-4-data {
	width: 100%;
	height: 80px;
	font-weight: lighter;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 필터 - 필터 초기화 버튼 */
.rv-filterBox-Main-5 {
	width: 100%;
	height: 150px;
	padding: 10px;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: #f8f8f8;
	text-align: center;
	cursor: pointer;
}

/* 필터 - 예약하기 버튼 */
.rv-filterBox-RVBtn {
	width: 100%;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #0D6FFC;
	cursor: pointer;
}

/* 모달창-지역 */
.location-modal {
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 300;
}

.location-modal-body {
	position: absolute;
	z-index: 300;
	top: 50vh;
	/* 모달을 화면가운데 놓기위함.  */
	width: 1000px;
	/* 모달의 가로크기  */
	height: 600px;
	/* 모달의 세로크기  */
	padding: 50px;
	text-align: center;
	background-color: white;
	/* 모달창 배경색 흰색 */
	border-radius: 10px;
	/* 테두리  */
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 테두리 그림자  */
	transform: translateY(-50%);
	/* 모듈창열었을때 위치설정 가운데로  */
	display: flex;
	justify-content: center;
	align-items: start;
}

/* 모달창 - 지역 닫기 버튼 */
.location-modal-close-Btn {
	position: absolute;
	top: 12px;
	right: 22px;
	font-size: 1.5rem;
	z-index: 400;
	cursor: pointer;
}

.location-modal-header-text {
	position: absolute;
	top: 11px;
	left: 72px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #0D6FFC;
}

/* 모달창 - 지역 아산/천안 컨테이너 */
.location-modal-body-container {
	width: 95%;
	height: 90%;
	display: flex;
	flex-flow: row wrap;
}

/* 모달창 - 지역 아산 */
.location-modal-mainBox1 {
	color: white;
	border-right: white;
	background-color: #0D6FFC;
	width: 50%;
	height: 10%;
	padding-top: 6px;
	border-radius: 10px 10px 0px 0px;
	font-size: 1.4rem;
	font-weight: bold;
}

.location-modal-mainBox1-item {
	color: #27374D;
	background-color: #eeeeee;
	width: 100%;
	margin-top: 9px;
	height: 390px;
	font-weight: bold;
	font-size: 1.2rem;
}

.asanList {
	padding: 15px;
}

.asanList:hover {
	background-color: #0D6FFC;
	color: white;
	cursor: pointer;
}

.selected {
	background-color: #0D6FFC;
	color: white;
}

.cheonanList {
	padding: 15px;
}

.cheonanList:hover {
	background-color: #0D6FFC;
	color: white;
	cursor: pointer;
}

/* 모달창 - 지역 천안 */
.location-modal-mainBox2 {
	color: white;
	background-color: #0D6FFC;
	width: 50%;
	height: 10%;
	padding-top: 6px;
	border-left: white;
	border-radius: 10px 10px 0px 0px;
	font-size: 1.4rem;
	font-weight: bold;
}

.location-modal-mainBox2-item::-webkit-scrollbar {
	width: 10px;
}

.location-modal-mainBox2-item::-webkit-scrollbar-thumb {
	background-color: #999999;
	border-radius: 10px;
}

.location-modal-mainBox2-item::-webkit-scrollbar-track {
	background-color: #e1e1e1;
}

.location-modal-mainBox2-item {
	color: black;
	background-color: #eeeeee;
	width: 100%;
	margin-top: 9px;
	height: 390px;
	font-size: 1.2rem;
	font-weight: lighter;
	font-weight: bold;
	color: #27374D;
	overflow: auto;
}

.location-modal-check-Btn {
	width: 160px;
	height: 60px;
	border-radius: 10px;
	position: absolute;
	bottom: 25px;
	right: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: #999999;
	color: white;
}

/* 모달창-날짜시간 */
.date-modal {
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 300;
}

.date-modal-body {
	position: absolute;
	z-index: 300;
	top: 50vh;
	/* 모달을 화면가운데 놓기위함.  */
	width: 1000px;
	/* 모달의 가로크기  */
	height: 600px;
	/* 모달의 세로크기  */
	padding: 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	/* 모달창 배경색 흰색 */
	border-radius: 10px;
	/* 테두리  */
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 테두리 그림자  */
	transform: translateY(-50%);
	/* 모듈창열었을때 위치설정 가운데로  */
}

/* selectBox의 z-index를 다른 필터들보다 높게 설정 */
[data-role="selectBox"] {
    z-index: 1000; /* 적절한 숫자로 설정, 다른 필터보다 큰 값을 사용합니다. */
}
